resources/CDF/cdf_adls_to_kafka.json
{
    "flowContents": {
        "identifier": "2ca9aeb2-5aee-37e7-9285-c26794657952",
        "instanceIdentifier": "2c461e0a-019a-1000-ffff-ffffdd012d56",
        "name": "ADLs_To_Kafka_Flow",
        "comments": "",
        "position": {
            "x": 1824.0,
            "y": 288.0
        },
        "processGroups": [],
        "remoteProcessGroups": [],
        "processors": [
            {
                "identifier": "10aad048-0424-3924-b729-f8c44088ad43",
                "instanceIdentifier": "2322161f-a265-3867-829a-1a65b332c05f",
                "name": "SplitJson",
                "comments": "",
                "position": {
                    "x": 1204.5000045184045,
                    "y": 686.5000114299831
                },
                "type": "org.apache.nifi.processors.standard.SplitJson",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.28.1.2.3.16.0-10"
                },
                "properties": {
                    "max-string-length": null,
                    "Max String Length": "20 MB",
                    "Null Value Representation": "empty string",
                    "JsonPath Expression": "$.[*]"
                },
                "propertyDescriptors": {
                    "max-string-length": {
                        "name": "max-string-length",
                        "displayName": "Max String Length Override",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Max String Length": {
                        "name": "Max String Length",
                        "displayName": "Max String Length",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Null Value Representation": {
                        "name": "Null Value Representation",
                        "displayName": "Null Value Representation",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "JsonPath Expression": {
                        "name": "JsonPath Expression",
                        "displayName": "JsonPath Expression",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "original",
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "2ca9aeb2-5aee-37e7-9285-c26794657952"
            },
            {
                "identifier": "8f2c17d6-9c03-30cb-b88b-7620800f1938",
                "instanceIdentifier": "698b049b-81e7-36c4-918c-1805b9abb9ea",
                "name": "UpdateAttribute",
                "comments": "",
                "position": {
                    "x": 1528.0,
                    "y": 40.0
                },
                "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-update-attribute-nar",
                    "version": "1.28.1.2.3.16.0-10"
                },
                "properties": {
                    "Topic Name": "#{Topic Name}",
                    "Delete Attributes Expression": null,
                    "Store State": "Do not store state",
                    "canonical-value-lookup-cache-size": "100",
                    "Stateful Variables Initial Value": null
                },
                "propertyDescriptors": {
                    "Topic Name": {
                        "name": "Topic Name",
                        "displayName": "Topic Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Delete Attributes Expression": {
                        "name": "Delete Attributes Expression",
                        "displayName": "Delete Attributes Expression",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Store State": {
                        "name": "Store State",
                        "displayName": "Store State",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "canonical-value-lookup-cache-size": {
                        "name": "canonical-value-lookup-cache-size",
                        "displayName": "Cache Value Lookup Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Stateful Variables Initial Value": {
                        "name": "Stateful Variables Initial Value",
                        "displayName": "Stateful Variables Initial Value",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 25,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "2ca9aeb2-5aee-37e7-9285-c26794657952"
            },
            {
                "identifier": "036a18b1-e27a-34d0-93d9-5d5f0c05d7ff",
                "instanceIdentifier": "f73d609b-711d-36e6-b1e9-c15f7d0959d5",
                "name": "atrributes_to_content",
                "comments": "",
                "position": {
                    "x": 1204.5000045184045,
                    "y": 294.50001142998315
                },
                "type": "org.apache.nifi.processors.standard.AttributesToJSON",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.28.1.2.3.16.0-10"
                },
                "properties": {
                    "attributes-to-json-regex": null,
                    "Destination": "flowfile-content",
                    "Null Value": "true",
                    "Attributes List": "customerid, churn, monthlycharges, totalcharges, tenure, gender, dependents, onlinesecurity, multiplelines, internetservice, seniorcitizen, techsupport, contract, streamingmovies, deviceprotection, paymentmethod, streamingtv, phoneservice, paperlessbilling, partner, onlinebackup",
                    "Pretty Print": "false",
                    "Include Core Attributes": "false",
                    "JSON Handling Strategy": "ESCAPED"
                },
                "propertyDescriptors": {
                    "attributes-to-json-regex": {
                        "name": "attributes-to-json-regex",
                        "displayName": "Attributes Regular Expression",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Destination": {
                        "name": "Destination",
                        "displayName": "Destination",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Null Value": {
                        "name": "Null Value",
                        "displayName": "Null Value",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Attributes List": {
                        "name": "Attributes List",
                        "displayName": "Attributes List",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Pretty Print": {
                        "name": "Pretty Print",
                        "displayName": "Pretty Print",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Include Core Attributes": {
                        "name": "Include Core Attributes",
                        "displayName": "Include Core Attributes",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "JSON Handling Strategy": {
                        "name": "JSON Handling Strategy",
                        "displayName": "JSON Handling Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "2ca9aeb2-5aee-37e7-9285-c26794657952"
            },
            {
                "identifier": "772565c9-c81a-3d6f-92c2-0cf9db8fb45d",
                "instanceIdentifier": "72dc62fc-8014-321f-afc1-aeb744819e1e",
                "name": "Fetch_from_ADLS",
                "comments": "",
                "position": {
                    "x": 584.0,
                    "y": 488.0
                },
                "type": "org.apache.nifi.processors.hadoop.FetchHDFS",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-hadoop-nar",
                    "version": "1.28.1.2.3.16.0-10"
                },
                "properties": {
                    "HDFS Filename": "#{HDFS File Name}",
                    "Hadoop Configuration Resources": "#{CDPEnvironment}",
                    "kerberos-credentials-service": null,
                    "Kerberos Password": "#{Kerberos Password}",
                    "Kerberos Keytab": null,
                    "Additional Classpath Resources": null,
                    "Kerberos Principal": "#{Kerberos Principal}",
                    "Compression codec": "NONE",
                    "kerberos-user-service": null,
                    "Kerberos Relogin Period": "4 hours"
                },
                "propertyDescriptors": {
                    "HDFS Filename": {
                        "name": "HDFS Filename",
                        "displayName": "HDFS Filename",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Hadoop Configuration Resources": {
                        "name": "Hadoop Configuration Resources",
                        "displayName": "Hadoop Configuration Resources",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "resourceDefinition": {
                            "cardinality": "MULTIPLE",
                            "resourceTypes": [
                                "FILE"
                            ]
                        }
                    },
                    "kerberos-credentials-service": {
                        "name": "kerberos-credentials-service",
                        "displayName": "Kerberos Credentials Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Kerberos Password": {
                        "name": "Kerberos Password",
                        "displayName": "Kerberos Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "Kerberos Keytab": {
                        "name": "Kerberos Keytab",
                        "displayName": "Kerberos Keytab",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "resourceDefinition": {
                            "cardinality": "SINGLE",
                            "resourceTypes": [
                                "FILE"
                            ]
                        }
                    },
                    "Additional Classpath Resources": {
                        "name": "Additional Classpath Resources",
                        "displayName": "Additional Classpath Resources",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "resourceDefinition": {
                            "cardinality": "MULTIPLE",
                            "resourceTypes": [
                                "DIRECTORY",
                                "FILE"
                            ]
                        }
                    },
                    "Kerberos Principal": {
                        "name": "Kerberos Principal",
                        "displayName": "Kerberos Principal",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Compression codec": {
                        "name": "Compression codec",
                        "displayName": "Compression codec",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "kerberos-user-service": {
                        "name": "kerberos-user-service",
                        "displayName": "Kerberos User Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Kerberos Relogin Period": {
                        "name": "Kerberos Relogin Period",
                        "displayName": "Kerberos Relogin Period",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "comms.failure",
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "2ca9aeb2-5aee-37e7-9285-c26794657952"
            },
            {
                "identifier": "61453945-2a16-3373-91a2-c5c95f933b13",
                "instanceIdentifier": "bef08459-0b2e-3d24-99a4-e8a0b0e54bc4",
                "name": "data_into_attributes",
                "comments": "",
                "position": {
                    "x": 1208.0,
                    "y": 496.0
                },
                "type": "org.apache.nifi.processors.standard.EvaluateJsonPath",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.28.1.2.3.16.0-10"
                },
                "properties": {
                    "multiplelines": "$.[\"MultipleLines\"]",
                    "Destination": "flowfile-attribute",
                    "gender": "$.[\"gender\"]",
                    "onlinesecurity": "$.[\"OnlineSecurity\"]",
                    "techsupport": "$.[\"TechSupport\"]",
                    "churn": "$.[\"Churn\"]",
                    "Null Value Representation": "empty string",
                    "Path Not Found Behavior": "ignore",
                    "streamingmovies": "$.[\"StreamingMovies\"]",
                    "totalcharges": "$.[\"TotalCharges\"]",
                    "tenure": "$.[\"tenure\"]",
                    "paperlessbilling": "$.[\"PaperlessBilling\"]",
                    "Max String Length": "20 MB",
                    "internetservice": "$.[\"InternetService\"]",
                    "Return Type": "auto-detect",
                    "contract": "$.[\"Contract\"]",
                    "seniorcitizen": "$.[\"SeniorCitizen\"]",
                    "deviceprotection": "$.[\"DeviceProtection\"]",
                    "streamingtv": "$.[\"StreamingTV\"]",
                    "max-string-length": null,
                    "partner": "$.[\"Partner\"]",
                    "monthlycharges": "$.[\"MonthlyCharges\"]",
                    "customerid": "$.[\"customerID\"]",
                    "dependents": "$.[\"Dependents\"]",
                    "onlinebackup": "$.[\"OnlineBackup\"]",
                    "phoneservice": "$.[\"PhoneService\"]",
                    "paymentmethod": "$.[\"PaymentMethod\"]"
                },
                "propertyDescriptors": {
                    "multiplelines": {
                        "name": "multiplelines",
                        "displayName": "multiplelines",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Destination": {
                        "name": "Destination",
                        "displayName": "Destination",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "gender": {
                        "name": "gender",
                        "displayName": "gender",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "onlinesecurity": {
                        "name": "onlinesecurity",
                        "displayName": "onlinesecurity",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "techsupport": {
                        "name": "techsupport",
                        "displayName": "techsupport",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "churn": {
                        "name": "churn",
                        "displayName": "churn",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Null Value Representation": {
                        "name": "Null Value Representation",
                        "displayName": "Null Value Representation",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Path Not Found Behavior": {
                        "name": "Path Not Found Behavior",
                        "displayName": "Path Not Found Behavior",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "streamingmovies": {
                        "name": "streamingmovies",
                        "displayName": "streamingmovies",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "totalcharges": {
                        "name": "totalcharges",
                        "displayName": "totalcharges",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "tenure": {
                        "name": "tenure",
                        "displayName": "tenure",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "paperlessbilling": {
                        "name": "paperlessbilling",
                        "displayName": "paperlessbilling",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Max String Length": {
                        "name": "Max String Length",
                        "displayName": "Max String Length",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "internetservice": {
                        "name": "internetservice",
                        "displayName": "internetservice",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Return Type": {
                        "name": "Return Type",
                        "displayName": "Return Type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "contract": {
                        "name": "contract",
                        "displayName": "contract",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "seniorcitizen": {
                        "name": "seniorcitizen",
                        "displayName": "seniorcitizen",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "deviceprotection": {
                        "name": "deviceprotection",
                        "displayName": "deviceprotection",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "streamingtv": {
                        "name": "streamingtv",
                        "displayName": "streamingtv",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "max-string-length": {
                        "name": "max-string-length",
                        "displayName": "Max String Length Override",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "partner": {
                        "name": "partner",
                        "displayName": "partner",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "monthlycharges": {
                        "name": "monthlycharges",
                        "displayName": "monthlycharges",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "customerid": {
                        "name": "customerid",
                        "displayName": "customerid",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "dependents": {
                        "name": "dependents",
                        "displayName": "dependents",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "onlinebackup": {
                        "name": "onlinebackup",
                        "displayName": "onlinebackup",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "phoneservice": {
                        "name": "phoneservice",
                        "displayName": "phoneservice",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "paymentmethod": {
                        "name": "paymentmethod",
                        "displayName": "paymentmethod",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "failure",
                    "unmatched"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "2ca9aeb2-5aee-37e7-9285-c26794657952"
            },
            {
                "identifier": "1de8dca7-430a-39a8-97a9-4628f219653d",
                "instanceIdentifier": "4f3c8f21-c845-3f93-bd86-7319fdcb0e54",
                "name": "PublishKafka2RecordCDP",
                "comments": "",
                "position": {
                    "x": 1800.0,
                    "y": 472.0
                },
                "type": "org.apache.nifi.processors.kafka.pubsub.PublishKafka2RecordCDP",
                "bundle": {
                    "group": "com.cloudera",
                    "artifact": "nifi-cdf-kafka-2-nar",
                    "version": "1.28.1.2.3.16.0-10"
                },
                "properties": {
                    "compression.type": "none",
                    "attribute-name-regex": null,
                    "record-writer": "e87cdad5-6f8d-324b-a905-fbbd4a91b2ce",
                    "bootstrap.servers": "#{Kafka Brokers}",
                    "sasl.kerberos.principal": "#{Kerberos Principal}",
                    "sasl.kerberos.service.name": null,
                    "kerberos-credentials-service": null,
                    "partition": null,
                    "record-key-writer": null,
                    "sasl.mechanism": "PLAIN",
                    "max.block.ms": "5 sec",
                    "interceptor.classes": "com.hortonworks.smm.kafka.monitoring.interceptors.MonitoringProducerInterceptor",
                    "record-reader": "5a975280-c2b6-3cb7-bb17-e96096a484e6",
                    "message-header-encoding": "UTF-8",
                    "kerberos-user-service": null,
                    "transactional-id-prefix": null,
                    "client.id": "#{Kafka Producer ID}",
                    "ack.wait.time": "5 secs",
                    "sasl.username": "#{Kerberos Principal}",
                    "use-transactions": "false",
                    "acks": "all",
                    "aws.profile.name": null,
                    "Record Metadata Strategy": "Use Configured Values",
                    "security.protocol": "SASL_SSL",
                    "ssl.context.service": "c6bb7b6c-6a9a-3bcf-afa0-169d72b15f19",
                    "max.request.size": "1 MB",
                    "sasl.token.auth": "false",
                    "message-key-field": null,
                    "Failure Strategy": "Route to Failure",
                    "partitioner.class": "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
                    "sasl.kerberos.keytab": null,
                    "topic": "#{Topic Name}",
                    "sasl.password": "#{Kerberos Password}",
                    "publish-strategy": "USE_VALUE"
                },
                "propertyDescriptors": {
                    "compression.type": {
                        "name": "compression.type",
                        "displayName": "Compression Type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "attribute-name-regex": {
                        "name": "attribute-name-regex",
                        "displayName": "Attributes to Send as Headers (Regex)",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "record-writer": {
                        "name": "record-writer",
                        "displayName": "Record Writer",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "bootstrap.servers": {
                        "name": "bootstrap.servers",
                        "displayName": "Kafka Brokers",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "sasl.kerberos.principal": {
                        "name": "sasl.kerberos.principal",
                        "displayName": "Kerberos Principal",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "sasl.kerberos.service.name": {
                        "name": "sasl.kerberos.service.name",
                        "displayName": "Kerberos Service Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "kerberos-credentials-service": {
                        "name": "kerberos-credentials-service",
                        "displayName": "Kerberos Credentials Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "partition": {
                        "name": "partition",
                        "displayName": "Partition",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "record-key-writer": {
                        "name": "record-key-writer",
                        "displayName": "Record Key Writer",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "sasl.mechanism": {
                        "name": "sasl.mechanism",
                        "displayName": "SASL Mechanism",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "max.block.ms": {
                        "name": "max.block.ms",
                        "displayName": "Max Metadata Wait Time",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "interceptor.classes": {
                        "name": "interceptor.classes",
                        "displayName": "interceptor.classes",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "record-reader": {
                        "name": "record-reader",
                        "displayName": "Record Reader",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "message-header-encoding": {
                        "name": "message-header-encoding",
                        "displayName": "Message Header Encoding",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "kerberos-user-service": {
                        "name": "kerberos-user-service",
                        "displayName": "Kerberos User Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "transactional-id-prefix": {
                        "name": "transactional-id-prefix",
                        "displayName": "Transactional Id Prefix",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "client.id": {
                        "name": "client.id",
                        "displayName": "client.id",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "ack.wait.time": {
                        "name": "ack.wait.time",
                        "displayName": "Acknowledgment Wait Time",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "sasl.username": {
                        "name": "sasl.username",
                        "displayName": "Username",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "use-transactions": {
                        "name": "use-transactions",
                        "displayName": "Use Transactions",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "acks": {
                        "name": "acks",
                        "displayName": "Delivery Guarantee",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "aws.profile.name": {
                        "name": "aws.profile.name",
                        "displayName": "AWS Profile Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Record Metadata Strategy": {
                        "name": "Record Metadata Strategy",
                        "displayName": "Record Metadata Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "security.protocol": {
                        "name": "security.protocol",
                        "displayName": "Security Protocol",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "ssl.context.service": {
                        "name": "ssl.context.service",
                        "displayName": "SSL Context Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "max.request.size": {
                        "name": "max.request.size",
                        "displayName": "Max Request Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "sasl.token.auth": {
                        "name": "sasl.token.auth",
                        "displayName": "Token Authentication",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "message-key-field": {
                        "name": "message-key-field",
                        "displayName": "Message Key Field",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Failure Strategy": {
                        "name": "Failure Strategy",
                        "displayName": "Failure Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "partitioner.class": {
                        "name": "partitioner.class",
                        "displayName": "Partitioner class",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "sasl.kerberos.keytab": {
                        "name": "sasl.kerberos.keytab",
                        "displayName": "Kerberos Keytab",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "resourceDefinition": {
                            "cardinality": "SINGLE",
                            "resourceTypes": [
                                "FILE"
                            ]
                        }
                    },
                    "topic": {
                        "name": "topic",
                        "displayName": "Topic Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "sasl.password": {
                        "name": "sasl.password",
                        "displayName": "Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "publish-strategy": {
                        "name": "publish-strategy",
                        "displayName": "Publish Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "2ca9aeb2-5aee-37e7-9285-c26794657952"
            },
            {
                "identifier": "b558540e-e836-381d-8eb3-b580261feb14",
                "instanceIdentifier": "47ea561f-c387-3f66-8c54-14f9ecf39f7f",
                "name": "LogAttribute",
                "comments": "",
                "position": {
                    "x": 1800.0,
                    "y": 688.0
                },
                "type": "org.apache.nifi.processors.standard.LogAttribute",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.28.1.2.3.16.0-10"
                },
                "properties": {
                    "Log prefix": null,
                    "character-set": "US-ASCII",
                    "Log FlowFile Properties": "true",
                    "Log Level": "error",
                    "attributes-to-ignore-regex": null,
                    "Attributes to Ignore": null,
                    "Attributes to Log": null,
                    "attributes-to-log-regex": ".*",
                    "Output Format": "Line per Attribute",
                    "Log Payload": "true"
                },
                "propertyDescriptors": {
                    "Log prefix": {
                        "name": "Log prefix",
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "character-set": {
                        "name": "character-set",
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Log FlowFile Properties": {
                        "name": "Log FlowFile Properties",
                        "displayName": "Log FlowFile Properties",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Log Level": {
                        "name": "Log Level",
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "attributes-to-ignore-regex": {
                        "name": "attributes-to-ignore-regex",
                        "displayName": "Attributes to Ignore by Regular Expression",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Attributes to Ignore": {
                        "name": "Attributes to Ignore",
                        "displayName": "Attributes to Ignore",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Attributes to Log": {
                        "name": "Attributes to Log",
                        "displayName": "Attributes to Log",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "attributes-to-log-regex": {
                        "name": "attributes-to-log-regex",
                        "displayName": "Attributes to Log by Regular Expression",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Output Format": {
                        "name": "Output Format",
                        "displayName": "Output Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Log Payload": {
                        "name": "Log Payload",
                        "displayName": "Log Payload",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 25,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "2ca9aeb2-5aee-37e7-9285-c26794657952"
            },
            {
                "identifier": "87b7ac0b-1a28-3bb7-9a53-2552bfd23620",
                "instanceIdentifier": "8da346ee-ae8b-3dc5-8bf1-743f3cf1a83a",
                "name": "CSV_to_JSON",
                "comments": "",
                "position": {
                    "x": 576.0,
                    "y": 680.0
                },
                "type": "org.apache.nifi.processors.standard.ConvertRecord",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.28.1.2.3.16.0-10"
                },
                "properties": {
                    "record-writer": "e87cdad5-6f8d-324b-a905-fbbd4a91b2ce",
                    "record-reader": "8f99df06-88c9-339b-b8c3-1d62ca0e6821",
                    "include-zero-record-flowfiles": "true"
                },
                "propertyDescriptors": {
                    "record-writer": {
                        "name": "record-writer",
                        "displayName": "Record Writer",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "record-reader": {
                        "name": "record-reader",
                        "displayName": "Record Reader",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "include-zero-record-flowfiles": {
                        "name": "include-zero-record-flowfiles",
                        "displayName": "Include Zero Record FlowFiles",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "2ca9aeb2-5aee-37e7-9285-c26794657952"
            },
            {
                "identifier": "e73c0886-3493-32ac-98b0-596d5cc1cb70",
                "instanceIdentifier": "ee2a80a8-0a0f-37da-a1ef-2d387018d029",
                "name": "GenerateFlowFile",
                "comments": "",
                "position": {
                    "x": 580.5000045184045,
                    "y": 302.50001142998315
                },
                "type": "org.apache.nifi.processors.standard.GenerateFlowFile",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.28.1.2.3.16.0-10"
                },
                "properties": {
                    "character-set": "UTF-8",
                    "File Size": "0B",
                    "mime-type": null,
                    "generate-ff-custom-text": null,
                    "Batch Size": "1",
                    "Unique FlowFiles": "true",
                    "timebase": "1591142400",
                    "Data Format": "Text"
                },
                "propertyDescriptors": {
                    "character-set": {
                        "name": "character-set",
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "File Size": {
                        "name": "File Size",
                        "displayName": "File Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "mime-type": {
                        "name": "mime-type",
                        "displayName": "Mime Type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "generate-ff-custom-text": {
                        "name": "generate-ff-custom-text",
                        "displayName": "Custom Text",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Batch Size": {
                        "name": "Batch Size",
                        "displayName": "Batch Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Unique FlowFiles": {
                        "name": "Unique FlowFiles",
                        "displayName": "Unique FlowFiles",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "timebase": {
                        "name": "timebase",
                        "displayName": "timebase",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Data Format": {
                        "name": "Data Format",
                        "displayName": "Data Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "1000 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "PRIMARY",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "2ca9aeb2-5aee-37e7-9285-c26794657952"
            }
        ],
        "inputPorts": [],
        "outputPorts": [],
        "connections": [
            {
                "identifier": "f2bee950-9800-37d3-ad27-77fb0634daa0",
                "instanceIdentifier": "4420ec97-dc02-3069-a02e-b20153b603e2",
                "name": "",
                "source": {
                    "id": "772565c9-c81a-3d6f-92c2-0cf9db8fb45d",
                    "type": "PROCESSOR",
                    "groupId": "2ca9aeb2-5aee-37e7-9285-c26794657952",
                    "name": "Fetch_from_ADLS",
                    "comments": "",
                    "instanceIdentifier": "72dc62fc-8014-321f-afc1-aeb744819e1e"
                },
                "destination": {
                    "id": "87b7ac0b-1a28-3bb7-9a53-2552bfd23620",
                    "type": "PROCESSOR",
                    "groupId": "2ca9aeb2-5aee-37e7-9285-c26794657952",
                    "name": "CSV_to_JSON",
                    "comments": "",
                    "instanceIdentifier": "8da346ee-ae8b-3dc5-8bf1-743f3cf1a83a"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "2ca9aeb2-5aee-37e7-9285-c26794657952"
            },
            {
                "identifier": "19ebff6e-a8af-399e-93fd-de2e0edeaf5f",
                "instanceIdentifier": "b216aea2-3ca4-316d-8b5a-811c76cf0cb6",
                "name": "",
                "source": {
                    "id": "61453945-2a16-3373-91a2-c5c95f933b13",
                    "type": "PROCESSOR",
                    "groupId": "2ca9aeb2-5aee-37e7-9285-c26794657952",
                    "name": "data_into_attributes",
                    "comments": "",
                    "instanceIdentifier": "bef08459-0b2e-3d24-99a4-e8a0b0e54bc4"
                },
                "destination": {
                    "id": "036a18b1-e27a-34d0-93d9-5d5f0c05d7ff",
                    "type": "PROCESSOR",
                    "groupId": "2ca9aeb2-5aee-37e7-9285-c26794657952",
                    "name": "atrributes_to_content",
                    "comments": "",
                    "instanceIdentifier": "f73d609b-711d-36e6-b1e9-c15f7d0959d5"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "matched"
                ],
                "backPressureObjectThreshold": 100000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "2ca9aeb2-5aee-37e7-9285-c26794657952"
            },
            {
                "identifier": "b059fc00-4b45-3174-8b86-63804bcc8916",
                "instanceIdentifier": "5c1313ed-bbdd-39b6-8b83-845b9a3e2af2",
                "name": "",
                "source": {
                    "id": "1de8dca7-430a-39a8-97a9-4628f219653d",
                    "type": "PROCESSOR",
                    "groupId": "2ca9aeb2-5aee-37e7-9285-c26794657952",
                    "name": "PublishKafka2RecordCDP",
                    "comments": "",
                    "instanceIdentifier": "4f3c8f21-c845-3f93-bd86-7319fdcb0e54"
                },
                "destination": {
                    "id": "b558540e-e836-381d-8eb3-b580261feb14",
                    "type": "PROCESSOR",
                    "groupId": "2ca9aeb2-5aee-37e7-9285-c26794657952",
                    "name": "LogAttribute",
                    "comments": "",
                    "instanceIdentifier": "47ea561f-c387-3f66-8c54-14f9ecf39f7f"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "failure"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "2ca9aeb2-5aee-37e7-9285-c26794657952"
            },
            {
                "identifier": "52df4181-fd47-3e59-af36-f3ee8fcb8014",
                "instanceIdentifier": "84707417-1eed-3e00-9065-c58a743bb03e",
                "name": "",
                "source": {
                    "id": "1de8dca7-430a-39a8-97a9-4628f219653d",
                    "type": "PROCESSOR",
                    "groupId": "2ca9aeb2-5aee-37e7-9285-c26794657952",
                    "name": "PublishKafka2RecordCDP",
                    "comments": "",
                    "instanceIdentifier": "4f3c8f21-c845-3f93-bd86-7319fdcb0e54"
                },
                "destination": {
                    "id": "e5462671-28a4-3e7f-a878-61b333c82fcf",
                    "type": "FUNNEL",
                    "groupId": "2ca9aeb2-5aee-37e7-9285-c26794657952",
                    "name": "Funnel",
                    "comments": "",
                    "instanceIdentifier": "dad25be0-7f4f-35aa-b506-2be21ca66933"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "2ca9aeb2-5aee-37e7-9285-c26794657952"
            },
            {
                "identifier": "05a895b0-6e82-3474-8089-571b0ee69ac7",
                "instanceIdentifier": "65894f4c-70f5-3e55-b090-7b3f07ad80c7",
                "name": "",
                "source": {
                    "id": "e73c0886-3493-32ac-98b0-596d5cc1cb70",
                    "type": "PROCESSOR",
                    "groupId": "2ca9aeb2-5aee-37e7-9285-c26794657952",
                    "name": "GenerateFlowFile",
                    "comments": "",
                    "instanceIdentifier": "ee2a80a8-0a0f-37da-a1ef-2d387018d029"
                },
                "destination": {
                    "id": "772565c9-c81a-3d6f-92c2-0cf9db8fb45d",
                    "type": "PROCESSOR",
                    "groupId": "2ca9aeb2-5aee-37e7-9285-c26794657952",
                    "name": "Fetch_from_ADLS",
                    "comments": "",
                    "instanceIdentifier": "72dc62fc-8014-321f-afc1-aeb744819e1e"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "2ca9aeb2-5aee-37e7-9285-c26794657952"
            },
            {
                "identifier": "271560b6-79d0-3614-a751-60385b164464",
                "instanceIdentifier": "61d23339-5e1a-361d-9911-1e4398472f2f",
                "name": "",
                "source": {
                    "id": "8f2c17d6-9c03-30cb-b88b-7620800f1938",
                    "type": "PROCESSOR",
                    "groupId": "2ca9aeb2-5aee-37e7-9285-c26794657952",
                    "name": "UpdateAttribute",
                    "comments": "",
                    "instanceIdentifier": "698b049b-81e7-36c4-918c-1805b9abb9ea"
                },
                "destination": {
                    "id": "1de8dca7-430a-39a8-97a9-4628f219653d",
                    "type": "PROCESSOR",
                    "groupId": "2ca9aeb2-5aee-37e7-9285-c26794657952",
                    "name": "PublishKafka2RecordCDP",
                    "comments": "",
                    "instanceIdentifier": "4f3c8f21-c845-3f93-bd86-7319fdcb0e54"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "2ca9aeb2-5aee-37e7-9285-c26794657952"
            },
            {
                "identifier": "4917e3c1-175a-3bf9-823a-b492a7ccb065",
                "instanceIdentifier": "2038eea9-8cf0-3da3-8c37-a09f73e9d72b",
                "name": "",
                "source": {
                    "id": "87b7ac0b-1a28-3bb7-9a53-2552bfd23620",
                    "type": "PROCESSOR",
                    "groupId": "2ca9aeb2-5aee-37e7-9285-c26794657952",
                    "name": "CSV_to_JSON",
                    "comments": "",
                    "instanceIdentifier": "8da346ee-ae8b-3dc5-8bf1-743f3cf1a83a"
                },
                "destination": {
                    "id": "10aad048-0424-3924-b729-f8c44088ad43",
                    "type": "PROCESSOR",
                    "groupId": "2ca9aeb2-5aee-37e7-9285-c26794657952",
                    "name": "SplitJson",
                    "comments": "",
                    "instanceIdentifier": "2322161f-a265-3867-829a-1a65b332c05f"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "2ca9aeb2-5aee-37e7-9285-c26794657952"
            },
            {
                "identifier": "6c7ca155-cd1b-3c33-8fcd-e08918065ecc",
                "instanceIdentifier": "6517c4db-15d7-3532-a428-4a235b6ded4e",
                "name": "",
                "source": {
                    "id": "b558540e-e836-381d-8eb3-b580261feb14",
                    "type": "PROCESSOR",
                    "groupId": "2ca9aeb2-5aee-37e7-9285-c26794657952",
                    "name": "LogAttribute",
                    "comments": "",
                    "instanceIdentifier": "47ea561f-c387-3f66-8c54-14f9ecf39f7f"
                },
                "destination": {
                    "id": "65f935ba-e889-35cc-bd0d-cfe603de5e15",
                    "type": "FUNNEL",
                    "groupId": "2ca9aeb2-5aee-37e7-9285-c26794657952",
                    "name": "Funnel",
                    "comments": "",
                    "instanceIdentifier": "ad1670ca-a4f4-3660-a7ae-d85a42cd5105"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "2ca9aeb2-5aee-37e7-9285-c26794657952"
            },
            {
                "identifier": "6e25f7bb-fe7b-3b51-8bf3-af566741eca7",
                "instanceIdentifier": "6b0aaae3-23cb-3150-bfd6-9ca1ca95c2f1",
                "name": "",
                "source": {
                    "id": "10aad048-0424-3924-b729-f8c44088ad43",
                    "type": "PROCESSOR",
                    "groupId": "2ca9aeb2-5aee-37e7-9285-c26794657952",
                    "name": "SplitJson",
                    "comments": "",
                    "instanceIdentifier": "2322161f-a265-3867-829a-1a65b332c05f"
                },
                "destination": {
                    "id": "61453945-2a16-3373-91a2-c5c95f933b13",
                    "type": "PROCESSOR",
                    "groupId": "2ca9aeb2-5aee-37e7-9285-c26794657952",
                    "name": "data_into_attributes",
                    "comments": "",
                    "instanceIdentifier": "bef08459-0b2e-3d24-99a4-e8a0b0e54bc4"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "split"
                ],
                "backPressureObjectThreshold": 100000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "2ca9aeb2-5aee-37e7-9285-c26794657952"
            },
            {
                "identifier": "ad8ddb07-6c3c-3286-8868-380c0a8f784d",
                "instanceIdentifier": "fbcd3a5a-f7b0-3816-9e05-209f2e7a16bf",
                "name": "",
                "source": {
                    "id": "036a18b1-e27a-34d0-93d9-5d5f0c05d7ff",
                    "type": "PROCESSOR",
                    "groupId": "2ca9aeb2-5aee-37e7-9285-c26794657952",
                    "name": "atrributes_to_content",
                    "comments": "",
                    "instanceIdentifier": "f73d609b-711d-36e6-b1e9-c15f7d0959d5"
                },
                "destination": {
                    "id": "8f2c17d6-9c03-30cb-b88b-7620800f1938",
                    "type": "PROCESSOR",
                    "groupId": "2ca9aeb2-5aee-37e7-9285-c26794657952",
                    "name": "UpdateAttribute",
                    "comments": "",
                    "instanceIdentifier": "698b049b-81e7-36c4-918c-1805b9abb9ea"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "2ca9aeb2-5aee-37e7-9285-c26794657952"
            }
        ],
        "labels": [
            {
                "identifier": "99ccd4d6-c26e-34c6-87a4-6e865770b872",
                "instanceIdentifier": "5aeb6834-4a29-3000-b7b8-ee3bae58bcb7",
                "position": {
                    "x": 1704.0,
                    "y": 288.0
                },
                "label": "Publish to Kafka Topic",
                "zIndex": 0,
                "width": 792.0,
                "height": 544.0,
                "style": {
                    "background-color": "#ffe3b0",
                    "font-size": "20px"
                },
                "componentType": "LABEL",
                "groupIdentifier": "2ca9aeb2-5aee-37e7-9285-c26794657952"
            },
            {
                "identifier": "82b5f9d3-bf34-3838-8a3d-47a1810947a7",
                "instanceIdentifier": "2f3ab30f-ee81-3995-9bb8-a46fc82dc651",
                "position": {
                    "x": 504.0,
                    "y": 240.0
                },
                "label": "Pull Data from ADLS and Format for Kafka",
                "zIndex": 0,
                "width": 1112.0,
                "height": 624.0,
                "style": {
                    "background-color": "#ffe3b0",
                    "font-size": "20px"
                },
                "componentType": "LABEL",
                "groupIdentifier": "2ca9aeb2-5aee-37e7-9285-c26794657952"
            }
        ],
        "funnels": [
            {
                "identifier": "65f935ba-e889-35cc-bd0d-cfe603de5e15",
                "instanceIdentifier": "ad1670ca-a4f4-3660-a7ae-d85a42cd5105",
                "position": {
                    "x": 2416.0,
                    "y": 712.0
                },
                "componentType": "FUNNEL",
                "groupIdentifier": "2ca9aeb2-5aee-37e7-9285-c26794657952"
            },
            {
                "identifier": "e5462671-28a4-3e7f-a878-61b333c82fcf",
                "instanceIdentifier": "dad25be0-7f4f-35aa-b506-2be21ca66933",
                "position": {
                    "x": 2416.0,
                    "y": 368.0
                },
                "componentType": "FUNNEL",
                "groupIdentifier": "2ca9aeb2-5aee-37e7-9285-c26794657952"
            }
        ],
        "controllerServices": [
            {
                "identifier": "e87cdad5-6f8d-324b-a905-fbbd4a91b2ce",
                "instanceIdentifier": "47cf630b-77ab-3c11-b244-685c62f362dc",
                "name": "JsonRecordSetWriter",
                "comments": "",
                "type": "org.apache.nifi.json.JsonRecordSetWriter",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-record-serialization-services-nar",
                    "version": "1.28.1.2.3.16.0-10"
                },
                "properties": {
                    "schema-branch": null,
                    "Allow Scientific Notation": "false",
                    "compression-level": "1",
                    "schema-cache": null,
                    "Timestamp Format": null,
                    "Date Format": null,
                    "Pretty Print JSON": "false",
                    "compression-format": "none",
                    "Schema Write Strategy": "no-schema",
                    "suppress-nulls": "never-suppress",
                    "output-grouping": "output-array",
                    "schema-name": "#{schema.name}",
                    "schema-registry": "986af03f-482d-35b6-a3c1-23679d96336a",
                    "Time Format": null,
                    "schema-access-strategy": "inherit-record-schema",
                    "schema-protocol-version": "1",
                    "schema-version": null,
                    "schema-text": "${avro.schema}"
                },
                "propertyDescriptors": {
                    "schema-branch": {
                        "name": "schema-branch",
                        "displayName": "Schema Branch",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Allow Scientific Notation": {
                        "name": "Allow Scientific Notation",
                        "displayName": "Allow Scientific Notation",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "compression-level": {
                        "name": "compression-level",
                        "displayName": "Compression Level",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-cache": {
                        "name": "schema-cache",
                        "displayName": "Schema Cache",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Timestamp Format": {
                        "name": "Timestamp Format",
                        "displayName": "Timestamp Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Date Format": {
                        "name": "Date Format",
                        "displayName": "Date Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Pretty Print JSON": {
                        "name": "Pretty Print JSON",
                        "displayName": "Pretty Print JSON",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "compression-format": {
                        "name": "compression-format",
                        "displayName": "Compression Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Schema Write Strategy": {
                        "name": "Schema Write Strategy",
                        "displayName": "Schema Write Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "suppress-nulls": {
                        "name": "suppress-nulls",
                        "displayName": "Suppress Null Values",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "output-grouping": {
                        "name": "output-grouping",
                        "displayName": "Output Grouping",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-name": {
                        "name": "schema-name",
                        "displayName": "Schema Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-registry": {
                        "name": "schema-registry",
                        "displayName": "Schema Registry",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Time Format": {
                        "name": "Time Format",
                        "displayName": "Time Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-access-strategy": {
                        "name": "schema-access-strategy",
                        "displayName": "Schema Access Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-protocol-version": {
                        "name": "schema-protocol-version",
                        "displayName": "Schema Protocol Version",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-version": {
                        "name": "schema-version",
                        "displayName": "Schema Version",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-text": {
                        "name": "schema-text",
                        "displayName": "Schema Text",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.serialization.RecordSetWriterFactory",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "1.28.1.2.3.16.0-10"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "2ca9aeb2-5aee-37e7-9285-c26794657952"
            },
            {
                "identifier": "986af03f-482d-35b6-a3c1-23679d96336a",
                "instanceIdentifier": "0940643a-36b9-35e6-9bc1-30688bcc51fd",
                "name": "ClouderaSchemaRegistry",
                "comments": "",
                "type": "com.cloudera.nifi.schemaregistry.ClouderaSchemaRegistry",
                "bundle": {
                    "group": "com.cloudera",
                    "artifact": "nifi-cdf-cloudera-schema-registry-nar",
                    "version": "1.28.1.2.3.16.0-10"
                },
                "properties": {
                    "cache-expiration": "1 hour",
                    "ssl-context-service": "c6bb7b6c-6a9a-3bcf-afa0-169d72b15f19",
                    "cache-size": "1000",
                    "basic-auth-password": "#{Kerberos Password}",
                    "kerberos-user-service": null,
                    "basic-auth-username": "#{Kerberos Principal}",
                    "url": "#{schemaurl}"
                },
                "propertyDescriptors": {
                    "cache-expiration": {
                        "name": "cache-expiration",
                        "displayName": "Cache Expiration",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "ssl-context-service": {
                        "name": "ssl-context-service",
                        "displayName": "SSL Context Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "cache-size": {
                        "name": "cache-size",
                        "displayName": "Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "basic-auth-password": {
                        "name": "basic-auth-password",
                        "displayName": "Basic Authentication Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "kerberos-user-service": {
                        "name": "kerberos-user-service",
                        "displayName": "Kerberos User Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "basic-auth-username": {
                        "name": "basic-auth-username",
                        "displayName": "Basic Authentication Username",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "url": {
                        "name": "url",
                        "displayName": "Schema Registry URL",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.schemaregistry.services.SchemaRegistry",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "1.28.1.2.3.16.0-10"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "2ca9aeb2-5aee-37e7-9285-c26794657952"
            },
            {
                "identifier": "5a975280-c2b6-3cb7-bb17-e96096a484e6",
                "instanceIdentifier": "8feaa700-0806-39b8-b3bc-d545b89284f6",
                "name": "JsonTreeReader",
                "comments": "",
                "type": "org.apache.nifi.json.JsonTreeReader",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-record-serialization-services-nar",
                    "version": "1.28.1.2.3.16.0-10"
                },
                "properties": {
                    "schema-branch": null,
                    "Max String Length": "20 MB",
                    "schema-application-strategy": "SELECTED_PART",
                    "Timestamp Format": null,
                    "schema-inference-cache": null,
                    "Date Format": null,
                    "schema-name": "${schema.name}",
                    "starting-field-strategy": "ROOT_NODE",
                    "schema-registry": null,
                    "starting-field-name": null,
                    "Time Format": null,
                    "schema-access-strategy": "infer-schema",
                    "schema-version": null,
                    "schema-text": "${avro.schema}",
                    "Allow Comments": "false"
                },
                "propertyDescriptors": {
                    "schema-branch": {
                        "name": "schema-branch",
                        "displayName": "Schema Branch",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Max String Length": {
                        "name": "Max String Length",
                        "displayName": "Max String Length",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-application-strategy": {
                        "name": "schema-application-strategy",
                        "displayName": "Schema Application Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Timestamp Format": {
                        "name": "Timestamp Format",
                        "displayName": "Timestamp Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-inference-cache": {
                        "name": "schema-inference-cache",
                        "displayName": "Schema Inference Cache",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Date Format": {
                        "name": "Date Format",
                        "displayName": "Date Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-name": {
                        "name": "schema-name",
                        "displayName": "Schema Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "starting-field-strategy": {
                        "name": "starting-field-strategy",
                        "displayName": "Starting Field Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-registry": {
                        "name": "schema-registry",
                        "displayName": "Schema Registry",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "starting-field-name": {
                        "name": "starting-field-name",
                        "displayName": "Starting Field Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Time Format": {
                        "name": "Time Format",
                        "displayName": "Time Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-access-strategy": {
                        "name": "schema-access-strategy",
                        "displayName": "Schema Access Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-version": {
                        "name": "schema-version",
                        "displayName": "Schema Version",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-text": {
                        "name": "schema-text",
                        "displayName": "Schema Text",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Allow Comments": {
                        "name": "Allow Comments",
                        "displayName": "Allow Comments",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.serialization.RecordReaderFactory",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "1.28.1.2.3.16.0-10"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "2ca9aeb2-5aee-37e7-9285-c26794657952"
            },
            {
                "identifier": "8f99df06-88c9-339b-b8c3-1d62ca0e6821",
                "instanceIdentifier": "f2d70d85-dfde-38e4-9d2c-9e8b91340e5b",
                "name": "CSVReader",
                "comments": "",
                "type": "org.apache.nifi.csv.CSVReader",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-record-serialization-services-nar",
                    "version": "1.28.1.2.3.16.0-10"
                },
                "properties": {
                    "ignore-csv-header": "false",
                    "schema-branch": null,
                    "Trim double quote": "true",
                    "CSV Format": "custom",
                    "Quote Character": "\"",
                    "csvutils-allow-duplicate-header-names": "true",
                    "Value Separator": ";",
                    "Record Separator": "\\n",
                    "Timestamp Format": null,
                    "Escape Character": "\\",
                    "Date Format": null,
                    "Null String": null,
                    "Skip Header Line": "true",
                    "Trim Fields": "true",
                    "schema-name": "${schema.name}",
                    "schema-registry": null,
                    "csv-reader-csv-parser": "commons-csv",
                    "Time Format": null,
                    "Comment Marker": null,
                    "schema-access-strategy": "infer-schema",
                    "schema-version": null,
                    "csvutils-character-set": "UTF-8",
                    "schema-text": "${avro.schema}"
                },
                "propertyDescriptors": {
                    "ignore-csv-header": {
                        "name": "ignore-csv-header",
                        "displayName": "Ignore CSV Header Column Names",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-branch": {
                        "name": "schema-branch",
                        "displayName": "Schema Branch",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Trim double quote": {
                        "name": "Trim double quote",
                        "displayName": "Trim double quote",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "CSV Format": {
                        "name": "CSV Format",
                        "displayName": "CSV Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Quote Character": {
                        "name": "Quote Character",
                        "displayName": "Quote Character",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "csvutils-allow-duplicate-header-names": {
                        "name": "csvutils-allow-duplicate-header-names",
                        "displayName": "Allow Duplicate Header Names",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Value Separator": {
                        "name": "Value Separator",
                        "displayName": "Value Separator",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Record Separator": {
                        "name": "Record Separator",
                        "displayName": "Record Separator",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Timestamp Format": {
                        "name": "Timestamp Format",
                        "displayName": "Timestamp Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Escape Character": {
                        "name": "Escape Character",
                        "displayName": "Escape Character",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Date Format": {
                        "name": "Date Format",
                        "displayName": "Date Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Null String": {
                        "name": "Null String",
                        "displayName": "Null String",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Skip Header Line": {
                        "name": "Skip Header Line",
                        "displayName": "Treat First Line as Header",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Trim Fields": {
                        "name": "Trim Fields",
                        "displayName": "Trim Fields",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-name": {
                        "name": "schema-name",
                        "displayName": "Schema Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-registry": {
                        "name": "schema-registry",
                        "displayName": "Schema Registry",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "csv-reader-csv-parser": {
                        "name": "csv-reader-csv-parser",
                        "displayName": "CSV Parser",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Time Format": {
                        "name": "Time Format",
                        "displayName": "Time Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Comment Marker": {
                        "name": "Comment Marker",
                        "displayName": "Comment Marker",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-access-strategy": {
                        "name": "schema-access-strategy",
                        "displayName": "Schema Access Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-version": {
                        "name": "schema-version",
                        "displayName": "Schema Version",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "csvutils-character-set": {
                        "name": "csvutils-character-set",
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-text": {
                        "name": "schema-text",
                        "displayName": "Schema Text",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.serialization.RecordReaderFactory",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "1.28.1.2.3.16.0-10"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "2ca9aeb2-5aee-37e7-9285-c26794657952"
            },
            {
                "identifier": "c6bb7b6c-6a9a-3bcf-afa0-169d72b15f19",
                "instanceIdentifier": "2c461ba9-019a-1000-0000-00007d48e91d",
                "name": "Default NiFi SSL Context Service",
                "comments": "",
                "type": "org.apache.nifi.ssl.StandardRestrictedSSLContextService",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-ssl-context-service-nar",
                    "version": "1.28.1.2.3.16.0-10"
                },
                "properties": {
                    "Truststore Type": "JKS",
                    "SSL Protocol": "TLS",
                    "Keystore Type": "JKS",
                    "Truststore Filename": "/home/nifi/additional/secret/ssl_truststore/ssl-truststore.jks",
                    "Keystore Filename": "/home/nifi/additional/secret/ssl_keystore/ssl-keystore.jks"
                },
                "propertyDescriptors": {
                    "Truststore Type": {
                        "name": "Truststore Type",
                        "displayName": "Truststore Type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "SSL Protocol": {
                        "name": "SSL Protocol",
                        "displayName": "TLS Protocol",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Keystore Type": {
                        "name": "Keystore Type",
                        "displayName": "Keystore Type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Truststore Filename": {
                        "name": "Truststore Filename",
                        "displayName": "Truststore Filename",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "resourceDefinition": {
                            "cardinality": "SINGLE",
                            "resourceTypes": [
                                "FILE"
                            ]
                        }
                    },
                    "Keystore Password": {
                        "name": "Keystore Password",
                        "displayName": "Keystore Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "key-password": {
                        "name": "key-password",
                        "displayName": "Key Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "Truststore Password": {
                        "name": "Truststore Password",
                        "displayName": "Truststore Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "Keystore Filename": {
                        "name": "Keystore Filename",
                        "displayName": "Keystore Filename",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "resourceDefinition": {
                            "cardinality": "SINGLE",
                            "resourceTypes": [
                                "FILE"
                            ]
                        }
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.ssl.SSLContextService",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "1.28.1.2.3.16.0-10"
                        }
                    },
                    {
                        "type": "org.apache.nifi.ssl.RestrictedSSLContextService",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "1.28.1.2.3.16.0-10"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "2c461e0a-019a-1000-ffff-ffffdd012d56"
            }
        ],
        "variables": {},
        "parameterContextName": "parameters",
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "logFileSuffix": "",
        "componentType": "PROCESS_GROUP",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE"
    },
    "externalControllerServices": {},
    "parameterContexts": {
        "parameters": {
            "name": "parameters",
            "parameters": [
                {
                    "name": "Schema Write Strategy",
                    "description": "",
                    "sensitive": false,
                    "provided": false,
                    "value": "hwx-content-encoded-schema"
                },
                {
                    "name": "Kafka Producer ID",
                    "description": "",
                    "sensitive": false,
                    "provided": false,
                    "value": "{CSA_ALIAS}-producer"
                },
                {
                    "name": "Topic Name",
                    "description": "",
                    "sensitive": false,
                    "provided": false,
                    "value": "telco_data_{CSA_ALIAS}"
                },
                {
                    "name": "Kafka Brokers",
                    "description": "",
                    "sensitive": false,
                    "provided": false,
                    "value": "go01-kafka-azure-corebroker1.go01-dem.ylcu-atmi.cloudera.site:9093, go01-kafka-azure-corebroker2.go01-dem.ylcu-atmi.cloudera.site:9093, go01-kafka-azure-corebroker0.go01-dem.ylcu-atmi.cloudera.site:9093"
                },
                {
                    "name": "schema.name",
                    "description": "",
                    "sensitive": false,
                    "provided": false,
                    "value": "telco_data_{CSA_ALIAS}"
                },
                {
                    "name": "Kerberos Principal",
                    "description": "",
                    "sensitive": false,
                    "provided": false,
                    "value": "{CSA_WORKLOAD_USERNAME}"
                },
                {
                    "name": "CDPEnvironment",
                    "description": "",
                    "sensitive": false,
                    "provided": false,
                    "value": "/home/nifi/additional/secret/env_config/core-site.xml,/home/nifi/additional/secret/env_config/ssl-client.xml,/home/nifi/additional/secret/env_config/hive-site.xml"
                },
                {
                    "name": "Kerberos Password",
                    "description": "",
                    "sensitive": true,
                    "provided": false
                },
                {
                    "name": "schemaurl",
                    "description": "",
                    "sensitive": false,
                    "provided": false,
                    "value": "https://go01-kafka-azure-master0.go01-dem.ylcu-atmi.cloudera.site/go01-kafka-azure/cdp-proxy-api/schema-registry/api/v1/"
                },
                {
                    "name": "HDFS File Name",
                    "description": "",
                    "sensitive": false,
                    "provided": false,
                    "value": "abfs://data@go01demoazure.dfs.core.windows.net/WA_Fn-UseC_-Telco-Customer-Churn-new.csv"
                }
            ],
            "inheritedParameterContexts": [],
            "componentType": "PARAMETER_CONTEXT"
        }
    },
    "flowEncodingVersion": "1.0",
    "parameterProviders": {},
    "latest": false
}